@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center banner-text">
        <h1 class="display-4">Welcome to my custom Sea Battle</h1>
    </div>    
}